@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #e2e8f0;
  --secondary-color: #94a3b8;
  --tertiary-color: #9b99fd;
  --background-color: #0f1624;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.main-container {
  width: 100%;
  height: 100vh;
  padding: 94px 96px 48px 96px;
}

.main-container .main-section {
  width: 100%;
  width: 100%;
  height: 100%;
}

.main-container .main-section .left-section {
  display: flex;
  flex-direction: column;
  gap: 68px;
  overflow: hidden;
}

.main-container .main-section .left-section .left-texts {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.main-container .main-section .left-section .left-texts h1 {
  color: var(--primary-color);
  line-height: 54px;
  letter-spacing: -1.2%;
}

.main-container .main-section .left-section .left-texts h5 {
  color: var(--tertiary-color);
  line-height: 28px;
  letter-spacing: 2px;
}

.main-container .main-section .left-section .left-texts p {
  color: var(--secondary-color);
  line-height: 24px;
}

.main-container .main-section .left-section .left-texts .buttons {
  gap: 20px;
}

.main-container .main-section .left-section .left-texts button {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 20px;
  border-radius: 24px;
}

.main-container .main-section .left-section .left-texts button svg {
  width: 18px;
  height: 18px;
}

.main-container .main-section .left-section .left-texts .primary {
  background: var(--secondary-color);
  color: var(--background-color);
}

.main-container .main-section .left-section .left-texts .secondary {
  background: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.main-container .main-section .left-section .nav-socials {
  gap: 42px;
}

.main-container .main-section .left-section .nav-socials .nav-items {
  gap: 48px;
}

.main-container .main-section .left-section .nav-socials .nav-items a {
  color: var(--secondary-color);
  height: 32px;
  position: relative;
  display: block;
  padding: 2px 0px;
  transition: 0.5s;
  font-weight: normal;
  cursor: pointer;
}

.main-container .main-section .left-section .nav-socials .nav-items a::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 25%;
  width: 50%;
  height: 3px;
  border-radius: 50px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s;
}

.main-container .main-section .left-section .nav-socials .nav-items a:hover {
  font-weight: bold;
  color: var(--primary-color);
}

.main-container
  .main-section
  .left-section
  .nav-socials
  .nav-items
  a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.main-container .main-section .left-section .nav-socials .nav-items .active {
  color: var(--primary-color);
  font-weight: bold;
}

.main-container
  .main-section
  .left-section
  .nav-socials
  .nav-items
  .active::after {
  transform: scaleX(1);
  transform-origin: center;
}

.main-container .main-section .left-section .nav-socials .socials {
  gap: 32px;
}

.main-container .main-section .left-section .nav-socials .socials a {
  width: 32px;
  height: 32px;
  color: var(--secondary-color);
}

.main-container .main-section .left-section .nav-socials .socials a svg {
  width: 100%;
  height: 100%;
}

.main-container .main-section .right-section {
  display: flex;
  flex-direction: column;
  gap: 136px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.main-container .main-section .right-section::-webkit-scrollbar {
  display: none;
}

.main-container .main-section .right-section .about {
  gap: 24px;
}

.main-container .main-section .right-section .about p {
  color: var(--secondary-color);
  line-height: 24px;
  font-weight: 400;
}

.main-container .main-section .right-section .about p span {
  font-weight: 700;
  color: var(--primary-color);
}

.main-container .main-section .right-section .skills-section {
  gap: 32px;
  align-items: center;
}

.main-container .main-section .right-section .skills-section .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.main-container .main-section .right-section .skills-section .services h5 {
  color: var(--primary-color);
}

.main-container
  .main-section
  .right-section
  .skills-section
  .services
  .services-boxes {
  gap: 46px;
}

.main-container
  .main-section
  .right-section
  .skills-section
  .services
  .services-boxes
  .services-item {
  gap: 12px;
  align-items: center;
  text-align: center;
}

.main-container
  .main-section
  .right-section
  .skills-section
  .services
  .services-boxes
  .services-item
  h6 {
  color: var(--tertiary-color);
}

.main-container
  .main-section
  .right-section
  .skills-section
  .services
  .services-boxes
  .services-item
  p {
  color: var(--secondary-color);
}

.main-container .main-section .right-section .skills-section .tools {
  gap: 32px;
  align-items: center;
}

.main-container .main-section .right-section .skills-section .tools h5 {
  color: var(--primary-color);
}

.main-container
  .main-section
  .right-section
  .skills-section
  .tools
  .tools-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 32px;
  row-gap: 24px;
}

.main-container
  .main-section
  .right-section
  .skills-section
  .tools
  .tools-grid-container
  .tool-item {
  align-items: center;
  gap: 12px;
}

.main-container
  .main-section
  .right-section
  .skills-section
  .tools
  .tools-grid-container
  .tool-item
  .img-box {
  width: 24px;
  height: 24px;
  object-fit: fill;
}

.main-container
  .main-section
  .right-section
  .skills-section
  .tools
  .tools-grid-container
  .tool-item
  .img-box
  img {
  width: 100%;
  height: 100%;
}

.main-container
  .main-section
  .right-section
  .skills-section
  .tools
  .tools-grid-container
  .tool-item
  span {
  color: var(--secondary-color);
}

.main-container .main-section .right-section .featured-projects {
  gap: 32px;
  align-items: center;
  width: 100%;
}

.main-container .main-section .right-section .featured-projects h4 {
  color: var(--primary-color);
}

.main-container
  .main-section
  .right-section
  .featured-projects
  .newest-projects {
  gap: 28px;
}

.featured-item {
  width: 100%;
  padding: 24px;
  gap: 24px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 104px auto;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}

.featured-item:hover {
  background: #1c2942;
}

.featured-item .item-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.featured-item .item-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.featured-item .item-content {
  gap: 24px;
}

.featured-item .item-content .itext-texts {
  gap: 8px;
}

.featured-item .item-content .itext-texts h5 {
  color: var(--primary-color);
}

.featured-item .item-content .itext-texts p {
  color: var(--secondary-color);
}

.featured-item .item-content .tools-used {
  gap: 12px;
  flex-wrap: wrap;
}

.featured-item .item-content .tools-used .tool-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 20px;
  height: 28px;
  background: #9b99fd;
  color: var(--background-color);
}

.featured-item .item-content .item-buttons {
  align-items: center;
  gap: 36px;
}

.featured-item .item-content .item-buttons svg {
  width: 28px;
  height: 28px;
  color: var(--secondary-color);
}

.featured-item .item-content .item-buttons button {
  height: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.featured-item .item-content .item-buttons button span {
  color: var(--secondary-color);
}

.main-container .main-section .right-section .featured-projects .all-projects {
  gap: 12px;
  align-items: center;
  height: 42px;
  padding: 0px 20px;
  border-radius: 20px;
  background: var(--secondary-color);
  color: var(--background-color);
  transition: 0.5s ease-in-out;
}

.main-container
  .main-section
  .right-section
  .featured-projects
  .all-projects:hover {
  gap: 18px;
}

.main-container
  .main-section
  .right-section
  .featured-projects
  .all-projects
  svg {
  width: 24px;
  height: 24px;
}

.main-container .main-section .right-section .contact {
  gap: 32px;
  align-items: center;
  padding: 0px 32px;
  margin-bottom: 32px;
}

.main-container .main-section .right-section .contact h4 {
  color: var(--primary-color);
}

.main-container .main-section .right-section .contact form {
  gap: 24px;
  align-items: center;
  width: 100%;
}

.main-container .main-section .right-section .contact form div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 70%;
}

.main-container .main-section .right-section .contact form div label {
  color: var(--secondary-color);
}

.main-container .main-section .right-section .contact form div input {
  display: flex;
  align-items: center;
  height: 48px;
  border: none;
  border-radius: 20px;
  background: #1c2942;
  color: var(--secondary-color);
  padding: 0px 16px;
}

.main-container
  .main-section
  .right-section
  .contact
  form
  div
  input::placeholder {
  color: #455474;
  font-weight: 500;
}

.main-container .main-section .right-section .contact form div input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.main-container .main-section .right-section .contact form div textarea {
  display: flex;
  align-items: center;
  min-height: 218px;
  max-height: 218px;
  border: none;
  border-radius: 20px;
  background: #1c2942;
  color: var(--secondary-color);
  padding: 12px 16px;
  resize: none;
}

.main-container
  .main-section
  .right-section
  .contact
  form
  div
  textarea::placeholder {
  color: #455474;
  font-weight: 500;
}

.main-container .main-section .right-section .contact form div textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.main-container
  .main-section
  .right-section
  .contact
  form
  div
  textarea::-webkit-scrollbar {
  display: none;
}

.main-container .main-section .right-section .contact form button {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 42px;
  padding: 0px 20px;
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
  background: var(--background-color);
  color: var(--secondary-color);
  transition: 0.5s ease-in-out;
}

.main-container .main-section .right-section .contact form button:hover {
  gap: 18px;
}

.allprojects-container {
  width: 100%;
  height: 100vh;
  padding: 68px 68px 48px 68px;
  gap: 24px;
}

.allprojects-container .back-all {
  gap: 18px;
  align-items: center;
}

.allprojects-container .back-all h2 {
  color: var(--primary-color);
  margin-bottom: 32px;
}

.allprojects-container button {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 48px;
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
  background: var(--background-color);
  color: var(--secondary-color);
  padding: 0px 24px;
}

.allprojects-container button svg {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 1024px) {
  .main-container {
    padding: 48px 48px 48px 48px;
  }

  .main-container .main-section {
    flex-direction: column;
    gap: 32px;
    overflow: scroll;
    height: auto !important;
  }

  .main-container .main-section .left-section {
    overflow: visible;
    margin-bottom: 68px;
  }

  .main-container .main-section .right-section {
    gap: 68px;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    padding: 24px;
  }
}

@media only screen and (max-width: 560px) {
  .main-container .right-section .services-boxes {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .main-container .right-section .featured-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .main-container .main-section .right-section .contact {
    padding: 0px !important;
  }

  .main-container .right-section .contact form div {
    width: 100% !important;
  }

  .main-section .right-section .skills-section .tools .tools-grid-container {
    display: grid;
    grid-template-columns: auto auto !important;
    column-gap: 28px;
    row-gap: 24px;
  }
}
